/*om namah shivay*/
/*https://www.github.com/riabhsh/*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	font-size: 5px;
}


/*----------  ANIMATION KEYFRAMES  ----------*/
@keyframes rotation {
	from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}

/*----------  CONTAINERS  ----------*/
.main{
	width: 100%;
	height: 100vh;
	background: #111;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	width: 500px;
	height: 500px;
	background-color: #222;
	border-radius: 10rem;
	border: 2px solid white;
	box-shadow: 0 0 10px white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	gap: 5rem;
}

/*----------  HEADINGS  ----------*/
h2{
	color: white;
	text-shadow:0 0 3px white;
	font-family: Helvetica;
	font-size: 5rem;
	margin-top: 12rem;
}

h3{
	color: white;
	text-shadow:0 0 0.2px white;
	font-family: monospace;
	letter-spacing: 2px;
	font-size: 4rem;
	text-transform: uppercase;
	margin-top: 5rem;
}

a{
	text-decoration: none;
	color: white;
}


/*----------  OUTER CIRCLE  ----------*/
.oc{
	width: 50rem;
	height: 50rem;
	background-color: red; 
	border-radius: 50%;
	position: relative;
	top: 15px;
	box-shadow: 0 0 20px black;
}

/*----------  INNER CIRCLE  ----------*/
.ic{
	width: 35rem;
	height: 35rem;
	border: 0.5rem solid black;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 2px black;

	animation: rotation 2s linear infinite;
}

/*----------  TOUMOE CIRCLE  ----------*/
.tc{
	width: 7rem;
	height: 7rem;
	background-color: black;
	border-radius: 50%;
	position: absolute;
}

.tc:nth-child(1){
	top: -1%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tc:nth-child(2){
	top: 75%;
	left: 5.5%;
	transform: translate(-50%, -50%)  rotate(250deg);
}

.tc:nth-child(3){
	top: 75%;
	left: 94.5%;
	transform: translate(-50%, -50%) rotate(150deg);
}

/*----------  TOUMOE ARCH  ----------*/
.tt{
	width: 7rem;
    height: 9rem;
    /*background-color: rgb(154 255 35 / 50%);*/
    border-left: 2rem solid black;
    border-radius: 60%;
    position: absolute;
    bottom: 0.4rem;
    left: 0.1rem;
    transform: rotate(25deg);
   }

/*----------  PUPIL  ----------*/
.c{
	width: 10rem;
	height: 10rem;
	background-color: black;
	position: absolute;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 5px black;
}
